// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$badge-font-weight: normal;
$badge-font-size: 1rem;
$toolbar-background: #42a045;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #2196f3,
  primary_dark:   #0069c0,
  primary_light:  #6ec6ff,
  secondary:      #ff9800,
  secondary_dark: #c66900,
  secondary_light: #ffc947,
  success:        #03a653,
  info:           #00A3B6,
  warning:        #ff6f00,
  danger:         #E43247,
  accent:         #00c853,

  dtr_color:      #488EEE,
  pass_slip_color:#E2534D,
  justification_color: #00A166,
  ptlos_color:    #FFCC5E,

  approve:        #8bc34a,
  disapprove:     #E43247,
  return:         #ef5350,
  cancel:         #6C757C,
  revert:         #ffee58,

  list:           #ffffff
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";