page-ptlos {
    div.highlight {
        padding: 10px;
        color: lightgreen;
        font-family: Courier New, Courier, monospace;
    }
    ion-card-header {
        background-color: #32db64;
    }
}
